services:
  mongodb:
    image: mongo:7.0
    volumes:
      - ./data/db:/data/db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express:1.0.0-alpha.4
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: "mongodb://root:example@mongodb:27017/"
    depends_on:
      - mongodb

  server:
    build:
      context: ./server
    volumes:
      - ./server:/server
    ports:
      - "8000:8000"
    depends_on:
      - mongodb

  client:
    build:
      context: ./client
    volumes:
      - ./client/public:/app/public
      - ./client/src:/app/src
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: "true"
    command: ["npm", "start"]
    ports:
      - "3000:3000"
    depends_on:
      - server

